p(ng-hide="started") Wait for your friends to start the game

div(ng-show="started")
  div
    | Currently playing:
    div(ng-repeat="player in players | currentlyPlaying:game")
      img(ng-src="{{player.picture}}")
      | {{player.name}}
  p Current letter: {{letter}}
  p Remaining time: {{time}}
  table
    tr(ng-repeat="(name,field) in fields")
      td {{name}}
      td
        input(ng-model="field.value")
  button(type="button" ng-show="allFilled" ng-click="done()") Done
