div
  a(href="" ng-hide="logged_in" ng-click="login('google')") Google Login!
  a(href="" ng-hide="logged_in" ng-click="login('facebook')") Facebook Login!
  a(href="" ng-show="logged_in" ng-click="logout()") Logout
  ul
    li(ng-repeat='friend in friends')
      span {{friend.displayName}}
      img(ng-src="{{friend.image.url}}")
