
<p ng-hide="started">Wait for your friends to start the game</p>
<div ng-show="started">
  <div>Currently playing:
    <div ng-repeat="player in players | currentlyPlaying:game"><img ng-src="{{player.picture}}"/>{{player.name}}</div>
  </div>
  <p>Current letter: {{letter}}</p>
  <p>Remaining time: {{time}}</p>
  <table>
    <tr ng-repeat="(name,field) in fields">
      <td>{{name}}</td>
      <td>
        <input ng-model="field.value"/>
      </td>
    </tr>
  </table>
  <button type="button" ng-show="allFilled" ng-click="done()">Done</button>
</div>